.wrapper {
  background-image: linear-gradient(to right, #334488, #445599);
}
.logo {
  background-image: linear-gradient(to right, #3344AA, #4455BB);
}

h1, h2, h3, h4, h5, h6 {
  color: #DDDDFF;
}

a {
  color: #CCCCFF;
}

.content a, .warning a, .authorbox__description a {
  color: #CCCCFF;
}

body {
  background-image: linear-gradient(to right, #445599, #334488);
  color: #FFFFFF;
}

html {
  background-image: linear-gradient(to right, #445599, #334488);
}

.meta, .meta a {
  color: #8888BB;
}

pre, code {
  background-color: #444488;
  color: #ccccff;
}

.toc {
  background: #444488;
  color: #ccccff;
}

.widget-search__form {
  background: #445599;
}

.widget-search__field {
  background: #8888FF;
  border: 1px solid #222244;
  color: #FFFFFF;
}

.widget-search__field::placeholder {
  color: #FFFFFF;
}

.pagination__item {
  background: #8888BB;
}
